{% extends "base.html" %}

{% block title %}News Article Recommender App{% endblock %}

{% block styles %}
<style>
    .image-container {
        position: relative;
        width: 75%;
        margin: auto;
        height: 80vh;
        overflow: show;
    }
    .buttons-container {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #title {
        font-size: 32px;
        font-family: 'Verdana', sans-serif;
        text-align: center;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="image-container" id="image-container">
        <div id="title"></div>
        <img id="current-image" onclick="redirectToLink()">
    </div>

    <div class="buttons-container">
        <button class="button" onclick="prevImage()">
            <img src="{{ url_for('static', filename='images/up_arrow.png') }}" alt="Up Arrow">
        </button>
        <button class="button" onclick="nextImage()">
            <img src="{{ url_for('static', filename='images/down_arrow.png') }}" alt="Down Arrow">
        </button>        
        <button class="button" onclick="like()">Like</button>
        <button class="button" onclick="dislike()">Dislike</button>
    </div>

    <script>
        let currentLink = '#';
        let currentIndex = 0;
        const imgElement = document.getElementById('current-image');
    
        function nextImage() {
            if (currentIndex === history.length - 1) {
                fetchData();
            } else {
                currentIndex++;
                displayFromHistory();
            }
        }
    
        function prevImage() {
            if (currentIndex > 0) {
                currentIndex--;
                displayFromHistory();
            }
        }
    
        function like() {
            sendFeedback(2);
            console.log('Image liked!');
        }
    
        function dislike() {
            sendFeedback(0.7);
            console.log('Image disliked!');
        }
    
        function fetchData() {
            fetch('/get_random_title')
            .then(response => response.json())
            .then(data => {
                document.getElementById('title').textContent = data.title;
                imgElement.src = data.photo;
                currentLink = data.link;
                storeData(data.title, data.link, data.photo);
            });
        }
    
        function redirectToLink() {
            window.open(currentLink, '_blank');
        }
    
        function sendFeedback(rating) {
            const data = {
                title: history[currentIndex].title,
                link: history[currentIndex].link,
                rating: rating
            };
    
            fetch('/send-feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (response.ok) {
                    console.log('Feedback sent successfully!');
                } else {
                    console.error('Failed to send feedback!');
                }
            })
            .catch(error => {
                console.error('Error sending feedback:', error);
            });
        }
    
        function displayFromHistory() {
            const historyItem = history[currentIndex];
            document.getElementById('title').textContent = historyItem.title;
            imgElement.src = historyItem.photo;
            currentLink = historyItem.link;
        }
    
        let history = [];
    
        function storeData(title, link, photo) {
            history.push({ title: title, link: link, photo: photo });
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            fetchData();
        });
    </script>       
{% endblock %}
